<div class="page-header">
  <h1 *ngIf="isAddMode">Додати спеціальність</h1>
  <h1 *ngIf="!isAddMode">Редагувати спеціальність</h1>
  <button mat-button color="accent" (click)="goBack()">
    <mat-icon>keyboard_backspace</mat-icon>
    Повернутися
  </button>
</div>

<form class="form" [formGroup]="form">
  <div class="form-fields">
    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>Шифр спеціальності</mat-label>
        <input matInput placeholder="Шифр спеціальності" formControlName="code">
        <mat-error *ngIf="this.form.controls.code.invalid && this.form.controls.code.touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>Назва спеціальності</mat-label>
        <input matInput placeholder="Назва спеціальності" formControlName="name">
        <mat-error *ngIf="this.form.controls.name.invalid && this.form.controls.name.touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>Галузь спеціальності</mat-label>
        <mat-select placeholder="Галузь спеціальності" formControlName="knowledgeBranchId">
          <mat-option *ngFor="let branch of knowledgeBranches" [value]="branch.id">
            {{branch.code}} {{branch.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.form.controls.knowledgeBranchId.invalid && this.form.controls.knowledgeBranchId.touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>Голова спеціальності</mat-label>
        <mat-select placeholder="Голова спеціальності" formControlName="headOfSmcId">
          <mat-option *ngFor="let head of headsOfSMC" [value]="head.id">
            {{head.surname}} {{head.name}} {{head.patronymic}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.form.controls['headOfSmcId'].invalid && this.form.controls['headOfSmcId'].touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>Гарант спеціальності</mat-label>
        <mat-select placeholder="Гарант спеціальності" formControlName="guarantorId">
          <mat-option *ngFor="let guarantor of guarantors" [value]="guarantor.id">
            {{guarantor.surname}} {{guarantor.name}} {{guarantor.patronymic}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.form.controls['guarantorId'].invalid && this.form.controls['guarantorId'].touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="form-button">
    <button *ngIf="isAddMode" mat-raised-button color="primary" (click)="create()" [disabled]="form.invalid">
      Додати
    </button>
    <button *ngIf="!isAddMode" mat-raised-button color="primary" (click)="edit()" [disabled]="form.invalid">
      Редагувати
    </button>
  </div>
</form>
