<form class="card" [formGroup]="form">
  <div class="card-title">
    <h1 *ngIf="isAddMode">Додати нову спеціальність</h1>
    <h1 *ngIf="!isAddMode">Редагувати спеціальність</h1>
    <button mat-button color="accent" (click)="goBack()"><mat-icon>keyboard_backspace</mat-icon> Повернутися</button>
  </div>

  <mat-form-field appearance="outline" class="card-input">
    <mat-label>Шифр</mat-label>
    <input matInput placeholder="Шифр" formControlName="code">
  </mat-form-field>

  <mat-form-field appearance="outline" class="card-input">
    <mat-label>Назва</mat-label>
    <input matInput placeholder="Назва" formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="outline" class="card-input">
    <mat-label>Галузь знань</mat-label>
    <input matInput placeholder="Назва" formControlName="knowledgeBranch">
  </mat-form-field>

  <mat-form-field appearance="outline" class="card-input">
    <mat-label>Голова</mat-label>
    <input matInput placeholder="Назва" formControlName="headOfSMC">
  </mat-form-field>

  <mat-form-field appearance="outline" class="card-input">
    <mat-label>Гарант</mat-label>
    <input matInput placeholder="Назва" formControlName="guarantor">
  </mat-form-field>

  <button *ngIf="isAddMode" mat-raised-button color="primary"
          class="card-button" (click)="create()" [disabled]="!form.valid">Додати</button>
  <button *ngIf="!isAddMode" mat-raised-button color="primary"
          class="card-button" (click)="edit()" [disabled]="!form.valid">Редагувати</button>
</form>
