<div class="page-header">
  <h1 *ngIf="isAddMode">Додати программу</h1>
  <h1 *ngIf="!isAddMode">Редагувати программу</h1>
  <button mat-button color="accent" (click)="goBack()">
    <mat-icon>keyboard_backspace</mat-icon>
    Повернутися
  </button>
</div>

<form class="form" [formGroup]="form">
  <div class="form-fields">
    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>Кредити</mat-label>
        <input matInput placeholder="Кредити" formControlName="credits">
        <mat-error *ngIf="this.form.controls['credits'].invalid && this.form.controls['credits'].touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>Всього годин</mat-label>
        <input type="number" matInput placeholder="Всього годин" formControlName="totalHours">
        <mat-error *ngIf="this.form.controls['totalHours'].invalid && this.form.controls['totalHours'].touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>Класні години</mat-label>
        <input type="number" matInput placeholder="Класні години" formControlName="classroomHours">
        <mat-error *ngIf="this.form.controls['classroomHours'].invalid && this.form.controls['classroomHours'].touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>Лекційні години</mat-label>
        <input type="number" matInput placeholder="Лекційні години" formControlName="lectureHours">
        <mat-error *ngIf="this.form.controls['lectureHours'].invalid && this.form.controls['lectureHours'].touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>Лабораторних годин</mat-label>
        <input type="number" matInput placeholder="Лабораторних годин" formControlName="labHours">
        <mat-error *ngIf="this.form.controls['labHours'].invalid && this.form.controls['labHours'].touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>Практичні години</mat-label>
        <input type="number" matInput placeholder="Практичні години" formControlName="practicalHours">
        <mat-error *ngIf="this.form.controls['practicalHours'].invalid && this.form.controls['practicalHours'].touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>Курсові проекти</mat-label>
        <input type="number" matInput placeholder="Курсові проекти" formControlName="courseProjects">
        <mat-error *ngIf="this.form.controls['courseProjects'].invalid && this.form.controls['courseProjects'].touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>Курсова робота</mat-label>
        <input type="number" matInput placeholder="Курсова робота" formControlName="courseWork">
        <mat-error *ngIf="this.form.controls['courseWork'].invalid && this.form.controls['courseWork'].touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>rgr</mat-label>
        <input type="number" matInput placeholder="rgr" formControlName="rgr">
        <mat-error *ngIf="this.form.controls['rgr'].invalid && this.form.controls['rgr'].touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>r</mat-label>
        <input type="number" matInput placeholder="r" formControlName="r">
        <mat-error *ngIf="this.form.controls['r'].invalid && this.form.controls['r'].touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>Форма контролю</mat-label>
        <input matInput placeholder="Форма контролю" formControlName="formOfControl">
        <mat-error *ngIf="this.form.controls['formOfControl'].invalid && this.form.controls['formOfControl'].touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>Семестр</mat-label>
        <input type="number" matInput placeholder="Семестр" formControlName="semester">
        <mat-error *ngIf="this.form.controls['semester'].invalid && this.form.controls['semester'].touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="form-button">
    <button *ngIf="isAddMode" mat-raised-button color="primary" (click)="create()" [disabled]="form.invalid">
      Додати
    </button>
    <button *ngIf="!isAddMode" mat-raised-button color="primary" (click)="edit()" [disabled]="form.invalid">
      Редагувати
    </button>
  </div>
</form>
