<div class="page" [ngClass]="{'nav-small': isNavSmall}">
  <nav class="nav" *ngIf="loggedIn">
    <div>
      <span>DocsGen</span>
      <div class="collapse-icon" (click)="isNavSmall = !isNavSmall">
        <svg xmlns="http://www.w3.org/2000/svg"
             id="mdi-arrow-collapse-left" width="24" height="24" viewBox="0 0 24 24">
          <path fill="#E7E7E7FF"
                d="M11.92,19.92L4,12L11.92,4.08L13.33,5.5L7.83,11H22V13H7.83L13.34,18.5L11.92,19.92M4,12V2H2V22H4V12Z"/>
        </svg>
      </div>
    </div>

    <ul>
      <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]={exact:true}>
        <mat-icon fontSet="material-icons-outlined">cottage</mat-icon>
        <span>Головна</span>
      </a></li>
      <li><a routerLink="/knowledge-branch" routerLinkActive="active-link">
        <mat-icon fontSet="material-icons-outlined">account_balance</mat-icon>
        <span>Галузь&nbsp;знань</span>
      </a></li>
      <li><a routerLink="/speciality" routerLinkActive="active-link">
        <mat-icon fontSet="material-icons-outlined">school</mat-icon>
        <span>Спеціальність</span>
      </a></li>
      <li><a routerLink="/teacher" routerLinkActive="active-link">
        <mat-icon fontSet="material-icons-outlined">group</mat-icon>
        <span>Викладачі</span>
      </a></li>
      <li><a routerLink="/head" routerLinkActive="active-link">
        <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon>
        <span>Голови</span>
      </a></li>
      <li><a routerLink="/guarantor" routerLinkActive="active-link">
        <mat-icon fontSet="material-icons-outlined">how_to_reg</mat-icon>
        <span>Гаранти</span>
      </a></li>
      <li><a routerLink="/subject" routerLinkActive="active-link">
        <mat-icon fontSet="material-icons-outlined">library_books</mat-icon>
        <span>Предмети</span>
      </a></li>
      <li><a routerLink="/syllabus" routerLinkActive="active-link">
        <mat-icon fontSet="material-icons-outlined">dashboard</mat-icon>
        <span>Программа</span>
      </a></li>
      <li><a routerLink="/load" routerLinkActive="active-link">
        <mat-icon fontSet="material-icons-outlined">space_dashboard</mat-icon>
        <span>Навантаження</span>
      </a></li>
      <li (click)="logout()" class="logout"><a>
        <mat-icon fontSet="material-icons-outlined">exit_to_app</mat-icon>
        <span>Вихід</span>
      </a></li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
