.data-table {
  .table-top {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }

  .create-button {
    button {
      background: #4758e4;
      color: #ffffff;
      width: 130px;
    }
  }

  table {
    width: 100%;
    border-radius: 5px;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .icon-gray {
    color: #7c7c7c;
  }
}
