<div class="page-header">
  <h1 *ngIf="isAddMode">Додати голову</h1>
  <h1 *ngIf="!isAddMode">Редагувати голову</h1>
  <button mat-button color="accent" (click)="goBack()">
    <mat-icon>keyboard_backspace</mat-icon>
    Повернутися
  </button>
</div>

<form class="form" [formGroup]="form">
  <div class="form-fields">
    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>Ім'я</mat-label>
        <input matInput placeholder="Ім'я" formControlName="name">
        <mat-error *ngIf="this.form.controls.name.invalid && this.form.controls.name.touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>Прізвище</mat-label>
        <input matInput placeholder="Прізвище" formControlName="surname">
        <mat-error *ngIf="this.form.controls.name.invalid && this.form.controls.name.touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>По-батькові</mat-label>
        <input matInput placeholder="По-батькові" formControlName="patronymic">
        <mat-error *ngIf="this.form.controls['patronymic'].invalid && this.form.controls['patronymic'].touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>Академ. ступінь</mat-label>
        <input matInput placeholder="Академ. ступінь" formControlName="academicDegree">
        <mat-error *ngIf="this.form.controls['academicDegree'].invalid && this.form.controls['academicDegree'].touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>Академ. ранг</mat-label>
        <input matInput placeholder="Академ. ранг" formControlName="academicRank">
        <mat-error *ngIf="this.form.controls['academicRank'].invalid && this.form.controls['academicRank'].touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>Телефон</mat-label>
        <input matInput placeholder="Телефон" formControlName="phone">
        <mat-error *ngIf="this.form.controls['phone'].invalid && this.form.controls['phone'].touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>Почта</mat-label>
        <input type="email" matInput placeholder="Почта" formControlName="email">
        <mat-error *ngIf="this.form.controls['email'].invalid && this.form.controls['email'].touched">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="form-button">
    <button *ngIf="isAddMode" mat-raised-button color="primary" (click)="create()" [disabled]="form.invalid">
      Додати
    </button>
    <button *ngIf="!isAddMode" mat-raised-button color="primary" (click)="edit()" [disabled]="form.invalid">
      Редагувати
    </button>
  </div>
</form>
