.card {
  margin: 0 auto;
  max-width: 600px;

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    h1 {
      font-weight: 500;
      color: #333333;
      margin: 0;
    }

    button {}
  }

  &-input {
    width: 100%;
  }

  &-button {
    width: 100%;
  }
}
