.form {
  margin: 0 auto;
  background: #ffffff;
  max-width: 660px;
  padding: 30px 40px;
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  .page-header {
    h1 {
      font-size: 24px;
    }
  }

  &-fields {
    display: grid;
    grid-template-columns: 1fr;
  }

  &-input {
    width: 100%;
  }

  &-button {
    display: flex;
    justify-content: flex-end;

    button {
      width: 130px;
      background: #4758e4;
      color: #ffffff;
    }
  }
}
