<div class="page-header">
  <h1 *ngIf="isAddMode">Додати галузь знань</h1>
  <h1 *ngIf="!isAddMode">Редагувати галузь знань</h1>
  <button mat-button color="accent" (click)="goBack()">
    <mat-icon>keyboard_backspace</mat-icon>
    Повернутися
  </button>
</div>

<form class="form" [formGroup]="form">
  <div class="form-fields">
    <div class="form-input">
      <label for="code">Шифр галузі</label>
      <input type="text" id="code" placeholder="Шифр галузі" formControlName="code">
    </div>
    <div class="form-input">
      <label for="name">Назва галузі</label>
      <input type="text" id="name" placeholder="Назва галузі" formControlName="name">
    </div>
  </div>

  <div class="form-button">
    <button *ngIf="isAddMode" mat-raised-button color="primary" (click)="create()" [disabled]="form.invalid">
      Додати
    </button>
    <button *ngIf="!isAddMode" mat-raised-button color="primary" (click)="edit()" [disabled]="form.invalid">
      Редагувати
    </button>
  </div>
</form>
