<div class="page-header">
  <h1>Головна</h1>
</div>

<div class="wrapper">
  <div class="container">
    <div>
      <!-- dropzone -->
      <div class="dropzone" appDnd (fileDropped)="onFileDropped($event)">
        <input type="file" accept=".docx" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event)"/>
        <mat-icon>cloud_upload</mat-icon>
        <h3>Перетягніть шаблон сюди або <label for="fileDropRef">Оберіть</label></h3>
      </div>
      <!-- file -->
      <div class="file" *ngIf="file">
        <img src="assets/images/doc-icon.png" class="icon" alt="doc">
        <div class="info">
          <h4 class="name">
            {{ file?.name }}
          </h4>
          <p class="size">{{ formatBytes(file?.size) }}</p>
          <mat-progress-bar mode="determinate" [value]="progress" *ngIf="progress !== 100">
          </mat-progress-bar>
        </div>
        <mat-icon (click)="deleteFile()" class="delete">delete</mat-icon>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="settings">
      <!-- Slide-toggle -->
      <mat-slide-toggle color="primary"
                        [checked]="selectAll"
                        (change)="selectAll = !selectAll">
        Генерувати для всіх викладачів
      </mat-slide-toggle>
      <!-- Autocomplete -->
      <div class="teacher-selection">


        <mat-form-field>
          <mat-chip-list #chipList>
            <ng-container *ngFor="let select of selectData">
              <mat-chip class="cardinal-colors" (click)="removeChip(select)">
                {{ select.surname }}
                <mat-icon class="mat-chip-remove">cancel</mat-icon>
              </mat-chip>
            </ng-container>

            <input matInput type="text" [disabled]="selectAll"
                   placeholder="Оберіть викладача/викладачів"
                   [matAutocomplete]="auto"
                   [matChipInputFor]="chipList"
                   [formControl]="teacherControl">
          </mat-chip-list>

          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let teacher of filteredTeachers | async" (click)="optionClicked($event, teacher)">
              <mat-checkbox [checked]="teacher.selected"
                            (change)="toggleSelection(teacher)"
                            (click)="$event.stopPropagation()">
                {{teacher.surname}} {{teacher.name}} {{teacher.patronymic}}
              </mat-checkbox>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <!-- Button -->
      <button mat-raised-button color="primary"
              [disabled]="file === undefined || (!selectAll && selectData.length === 0)"
              (click)="generate()">
        Генерувати
      </button>
    </div>
  </div>
</div>
