<div class="page-header">
  <h1 *ngIf="isAddMode">Додати завантаження</h1>
  <h1 *ngIf="!isAddMode">Редагувати завантаження</h1>
  <button mat-button color="accent" (click)="goBack()">
    <mat-icon>keyboard_backspace</mat-icon>
    Повернутися
  </button>
</div>

<form class="form" [formGroup]="form">
  <div class="form-fields">
    <div class="form-input">
      <label for="type">Тип</label>
      <mat-select formControlName="type" id="type" placeholder="Тип">
        <mat-option [value]="1">Лекція</mat-option>
        <mat-option [value]="2">Практика</mat-option>
      </mat-select>
    </div>
    <div class="form-input">
      <label for="year">Рік (1-6)</label>
      <input type="number" id="year" placeholder="Рік" formControlName="year">
    </div>
    <div class="form-input">
      <label for="teacherId">Викладач</label>
      <mat-select formControlName="teacherId" id="teacherId" placeholder="Викладач">
        <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">
          {{teacher.surname}} {{teacher.name}}  {{teacher.patronymic}}
        </mat-option>
      </mat-select>
    </div>
    <div class="form-input">
      <label for="subjectId">Предмет</label>
      <mat-select formControlName="subjectId" id="subjectId" placeholder="Предмет">
        <mat-option *ngFor="let subject of subjects" [value]="subject.id">
          {{subject.name}}
        </mat-option>
      </mat-select>
    </div>
    <div class="form-input">
      <label for="specialtyId">Спеціальність</label>
      <mat-select formControlName="specialtyId" id="specialtyId" placeholder="Спеціальність">
        <mat-option *ngFor="let speciality of specialties" [value]="speciality.id">
          {{speciality.name}}
        </mat-option>
      </mat-select>
    </div>
    <div class="form-input">
      <label for="syllabusId">Программа</label>
      <mat-select formControlName="syllabusId" id="syllabusId" placeholder="Программа">
        <mat-option *ngFor="let syllabus of syllabuses" [value]="syllabus.id">
          {{syllabus.id}}
        </mat-option>
      </mat-select>
    </div>
  </div>

  <div class="form-button">
    <button *ngIf="isAddMode" mat-raised-button color="primary" (click)="create()" [disabled]="form.invalid">
      Додати
    </button>
    <button *ngIf="!isAddMode" mat-raised-button color="primary" (click)="edit()" [disabled]="form.invalid">
      Редагувати
    </button>
  </div>
</form>
