<div class="page-header">
  <h1 *ngIf="isAddMode">Додати викладача</h1>
  <h1 *ngIf="!isAddMode">Редагувати викладача</h1>
  <button mat-button color="accent" (click)="goBack()">
    <mat-icon>keyboard_backspace</mat-icon>
    Повернутися
  </button>
</div>

<form class="form" [formGroup]="form">
  <div class="form-fields">
    <div class="form-input">
      <label for="name">Ім'я</label>
      <input type="text" id="name" placeholder="Ім'я" formControlName="name">
    </div>
    <div class="form-input">
      <label for="surname">Прізвище</label>
      <input type="text" id="surname" placeholder="Прізвище" formControlName="surname">
    </div>
    <div class="form-input">
      <label for="patronymic">По-батькові</label>
      <input type="text" id="patronymic" placeholder="По-батькові" formControlName="patronymic">
    </div>
    <div class="form-input">
      <label for="academicDegree">Академ. ступінь</label>
      <input type="text" id="academicDegree" placeholder="Академ. ступінь" formControlName="academicDegree">
    </div>
    <div class="form-input">
      <label for="academicRank">Академ. ранг</label>
      <input type="text" id="academicRank" placeholder="Академ. ранг" formControlName="academicRank">
    </div>
    <div class="form-input">
      <label for="email">Почта</label>
      <input type="text" id="email" placeholder="Почта" formControlName="email">
    </div>
    <div class="form-input">
      <label for="phone">Телефон</label>
      <input type="text" id="phone" placeholder="Телефон" formControlName="phone">
    </div>
  </div>

  <div class="form-button">
    <button *ngIf="isAddMode" mat-raised-button color="primary" (click)="create()" [disabled]="form.invalid">
      Додати
    </button>
    <button *ngIf="!isAddMode" mat-raised-button color="primary" (click)="edit()" [disabled]="form.invalid">
      Редагувати
    </button>
  </div>
</form>
